.author-container {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #e1e4e8;
    border-radius: 5px;
    background-color: #f5f5f5;
    width: fit-content;
}

.author-name {
    font-weight: bold;
    font-size: 1.2em;
    color: #000;
    border-bottom: 2px solid #0073e6;
    padding-bottom: 2px;
}

.author-email {
    color: #0073e6;
    text-decoration: none;
}

.author-email:hover {
    text-decoration: underline;
}
